services:
    traefik:
        image: traefik:v3.6
        security_opt:
            - no-new-privileges:true
        command:
            - '-api.dashboard=true'
            - '-api.insecure=true'
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=false'
            - '--providers.docker.network=traefik'
            - '--providers.file.directory=/etc/traefik/config'
            - '--providers.file.watch=true'
            - '--entrypoints.web.address=:80'
            - '--entrypoints.websecure.address=:443'
            - '--entrypoints.devtools.address=:8000'
            - '--entrypoints.vite.address=:5173'
            - '--entrypoints.minio.address=:9000'
            - '--entrypoints.minio-console.address=:9001'
            - '-serverstransport.insecureskipverify=true'
        ports:
            - '80:80'
            - '443:443'
            - '5173:5173'
            - '9000:9000'
            - '9001:9001'
            - '8000:8000'
            - '8080:8080'
        volumes:
            - '/var/run/docker.sock:/var/run/docker.sock:ro'
            - 'traefik-letsencrypt:/letsencrypt'
            - './.docker/traefik:/etc/traefik/config'
        networks:
            - traefik
            - sail
        labels:
            - traefik.enable=true
            - traefik.http.routers.traefik.rule=Host(`traefik.local`)
            - traefik.http.services.traefik.loadbalancer.server.port=8080
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: development
            args:
                WWWUSER: '${WWWUSER}'
                WWWGROUP: '${WWWGROUP}'
                PHP_VERSION: 8.4
                NODE_VERSION: 22
        image: 'sail-${APP_SERVICE}-app:latest'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        environment:
            LARAVEL_SAIL: 1
            AUTORUN_ENABLED: true
            OCTANE_SERVER: '${OCTANE_SERVER:-off}'
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-coverage,debug}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
            FRANKENPHP_WORKER_CONFIG: |
                watch app
                watch bootstrap
                watch {config,database,public,resources}/**/*.php
                watch routes
                watch composer.lock
                watch .env
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:${APP_PORT:-8080}/up']
            timeout: 30s
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
            - traefik
        depends_on:
            traefik:
                condition: service_started
            mariadb:
                condition: service_started
            redis:
                condition: service_started
            memcached:
                condition: service_started
            meilisearch:
                condition: service_started
            minio:
                condition: service_started
        labels:
            - traefik.enable=true
            - traefik.http.routers.${APP_SERVICE}.rule=Host(`${APP_DOMAIN}`)
            - traefik.http.routers.${APP_SERVICE}.entrypoints=websecure
            - traefik.http.routers.${APP_SERVICE}.tls=true
            - traefik.http.routers.${APP_SERVICE}.service=${APP_SERVICE}
            - traefik.http.services.${APP_SERVICE}.loadbalancer.server.port=${APP_PORT:-8080}
            - traefik.http.routers.${APP_SERVICE}-insecure.rule=Host(`${APP_DOMAIN}`)
            - traefik.http.routers.${APP_SERVICE}-insecure.entrypoints=web
            - traefik.http.routers.${APP_SERVICE}-insecure.service=${APP_SERVICE}
            - traefik.http.routers.${APP_SERVICE}-insecure.middlewares=redirect-to-https
            - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
            - traefik.http.routers.${APP_SERVICE}-vite.rule=Host(`${APP_DOMAIN}`)
            - traefik.http.routers.${APP_SERVICE}-vite.entrypoints=vite
            - traefik.http.routers.${APP_SERVICE}-vite.service=${APP_SERVICE}-vite
            - traefik.http.routers.${APP_SERVICE}-vite.tls=true
            - traefik.http.routers.${APP_SERVICE}-vite.middlewares=vite-cors@file
            - traefik.http.services.${APP_SERVICE}-vite.loadbalancer.server.port=5173

    mariadb:
        image: 'mariadb:11'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        volumes:
            - 'sail-mariadb:/var/lib/mysql'
            - './vendor/laravel/sail/database/mariadb/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        networks:
            - sail
        healthcheck:
            test: ['CMD', 'healthcheck.sh', '--connect', '--innodb_initialized']
            retries: 3
            timeout: 5s

    schedule:
        image: 'sail-${APP_SERVICE}-app:latest'
        command: ['artisan', 'schedule:work']
        stop_signal: SIGTERM
        healthcheck:
            test: ['CMD', 'healthcheck-schedule']
            start_period: 10s
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - mariadb
            - redis

    queue:
        image: 'sail-${APP_SERVICE}-app:latest'
        command: ['artisan', 'queue:listen', '--tries=3', '--verbose']
        stop_signal: SIGTERM
        healthcheck:
            test: ['CMD', 'healthcheck-queue']
            start_period: 10s
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - mariadb
            - redis

    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            retries: 3
            timeout: 5s

    meilisearch:
        image: 'getmeili/meilisearch:latest'
        ports:
            - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
        environment:
            MEILI_NO_ANALYTICS: '${MEILISEARCH_NO_ANALYTICS:-false}'
        volumes:
            - 'sail-meilisearch:/meili_data'
        networks:
            - sail
        healthcheck:
            test: ['CMD', 'wget', '--no-verbose', '--spider', 'http://127.0.0.1:7700/health']
            retries: 3
            timeout: 5s

    minio:
        image: 'minio/minio:latest'
        environment:
            MINIO_ROOT_USER: sail
            MINIO_ROOT_PASSWORD: password
        volumes:
            - 'sail-minio:/data'
        networks:
            - sail
        command: 'minio server /data --console-address ":9001"'
        labels:
            - traefik.enable=true
            - traefik.http.routers.minio.rule=Host(`${APP_DOMAIN}`)
            - traefik.http.routers.minio.entrypoints=minio
            - traefik.http.routers.minio.service=minio
            - traefik.http.services.minio.loadbalancer.server.port=9000
            - traefik.http.routers.minio-console.rule=Host(`${APP_DOMAIN}`)
            - traefik.http.routers.minio-console.entrypoints=minio-console
            - traefik.http.routers.minio-console.service=minio-console
            - traefik.http.services.minio-console.loadbalancer.server.port=9001
        healthcheck:
            test: ['CMD', 'mc', 'ready', 'local']
            retries: 3
            timeout: 5s

    minio-create-buckets:
        image: minio/mc
        depends_on:
            minio:
                condition: service_healthy
        networks:
            - sail
        entrypoint: >
            sh -c "
            sleep 5;
            mc alias set local http://minio:9000 ${AWS_ACCESS_KEY_ID:-sail} ${AWS_SECRET_ACCESS_KEY:-password};
            mc mb local/${AWS_BUCKET:-sail} || true;
            mc anonymous set download local/${AWS_BUCKET:-sail} || true;
            "

    memcached:
        image: 'memcached:alpine'
        networks:
            - sail

    buggregator:
        image: ghcr.io/buggregator/server:latest
        labels:
            - traefik.enable=true
            - traefik.http.routers.${APP_SERVICE}-buggregator.rule=Host(`${APP_DOMAIN}`)
            - traefik.http.routers.${APP_SERVICE}-buggregator.entrypoints=devtools
            - traefik.http.routers.${APP_SERVICE:-app}-buggregator.tls=true
            - traefik.http.routers.${APP_SERVICE}-buggregator.service=${APP_SERVICE}-buggregator
            - traefik.http.services.${APP_SERVICE}-buggregator.loadbalancer.server.port=8000
        networks:
            - sail
            - traefik

networks:
    sail:
        driver: bridge
    traefik:
        driver: bridge
volumes:
    sail-mariadb:
        driver: local
    sail-redis:
        driver: local
    sail-meilisearch:
        driver: local
    sail-minio:
        driver: local
    traefik-letsencrypt:
        driver: local
